@import url(reset.css);
@import url(common.css);

header {
  width: 100%;
  height: 80px;
  padding: 0 240px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: fixed;
  z-index: 999;
  font-family: "Lora", serif;
}

.logo {
  width: 182px;
}

.menu_wrap {
  margin-left: 50px;
  display: flex;
  gap: 30px;
  font-weight: 700;
}

.icon_wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.icon_wrap svg {
  color: white;
}

header.scrolled {
  background-color: #f2edeb;
}
header.scrolled .icon_wrap svg {
  color: #201612;
}

.ham_menu {
  display: none;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 0 120px;
  }
  .menu_wrap {
    margin-left: 20px;
    gap: 20px;
  }
  .icon_wrap svg {
    width: 20px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding: 0 60px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 0 16px;
    height: 60px;
  }
  header .logo {
    width: 130px;
  }
  .menu_wrap {
    display: none;
  }
  .icon_wrap svg {
    width: 20px;
    color: #201612;
  }
  .shopping_cart,
  .profile {
    display: none;
  }
  .ham_menu {
    display: block;
    width: 22px;
  }
}
/* header end */

.section_1 {
  width: 100%;
  height: auto;
  background: url(../img/section_1_bg.png) no-repeat center/cover;
  padding: 290px 0 50px 240px;
  display: flex;
  justify-content: space-between;
}

.title_wrap_1 {
  font-family: "Lora", serif;
  letter-spacing: -1px;
}

.title_wrap_1 h1 {
  font-size: 100px;
  line-height: 105px;
  font-weight: 500;
  letter-spacing: -4px;
}
.title_wrap_1 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.title_wrap_1 h4 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
  font-family: "Noto Sans KR", sans-serif;
  opacity: 0.6;
}
.title_wrap_1 h4 span {
  font-family: "Lora", sans-serif;
}

.mob_subtitle_1 {
  display: none;
}

.btn_1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 45px;
  position: relative;
  display: inline-block;
}

.title_wrap_1 .btn_1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #201612;
  transition: 0.3s ease;
}

.title_wrap_1 .btn_1:hover::after {
  width: 100%;
}

.con_1 {
  width: 65.7738%;
}
@media screen and (max-width: 1440px) {
  .title_wrap_1 h1 {
    font-size: 72px;
    line-height: 75px;
  }
  .title_wrap_1 h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .title_wrap_1 h4 {
    line-height: 20px;
    letter-spacing: -1px;
  }
  .btn_1 {
    font-size: 18px;
    margin-top: 50px;
  }
  .con_1 {
    width: 60%;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .section_1 {
    width: 100%;
    height: auto;
    background: unset;
    background-color: #f2edeb;
    display: block;
    padding: 170px 0 10px 16px;
  }

  .mob_subtitle_1 {
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  .pc_subtitle_1 {
    display: none;
  }
  .title_wrap_1 h1 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -2px;
  }
  .title_wrap_1 h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .title_wrap_1 h4 {
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
  }
  .con_1 {
    margin-top: 50px;
    width: 75%;
  }
  .btn_1 {
    font-size: 16px;
    margin-top: 40px;
  }
}
/* section_1 end */

.title_2 {
  padding-left: 240px;
}

.bottom_con_wrap_2 {
  padding: 317px 332px 200px 240px;
  position: relative;
  background-color: #f2edeb;
}

.txt_wrap_2 {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1094px;
  height: 387px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -1px;
  background-color: #fff;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.txt_wrap_2 p {
  opacity: 0.8;
}
.txt_wrap_2 p span {
  font-family: "Lora", sans-serif;
}

.btn_2 {
  width: 242px;
  height: 55px;
  border: 1px solid rgba(32, 22, 18, 0.4);
  margin-top: 45px;
  text-align: center;
  line-height: 55px;
  font-family: "Lora", "sans-serif";
  transition: 0.5s;
}

.btn_2 a {
  display: block;
  width: 100%;
  transition: 0.5s;
}

.btn_2:hover {
  background-color: #784b37;
}
.btn_2:hover a {
  color: white;
}

.left_img {
  width: 100%;
  max-width: 828px;
  height: auto;
  margin-right: 125px;
}
.right_img {
  width: 20.48611%;
}

.bottom_img_wrap_2 {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.mob_img_2 {
  display: none;
}
.mob_txt_2 {
  display: none;
}
@media screen and (max-width: 1440px) {
  .title_2 {
    padding-left: 120px;
  }
}
@media screen and (max-width: 767px) {
  .title_2 {
    padding-left: 16px;
  }
  .top_img_2 {
    width: 100%;
    height: 35vh;
  }
  .top_img_2 img {
    width: 100%;
    height: 100%;
  }
  .top_img_2 img {
  }
  .mob_img_2 {
    display: block;
  }
  .pc_img_2 {
    display: none;
  }
  .bottom_con_wrap_2 {
    padding: 195px 16px 75px 16px;
    position: relative;
    background-color: #f2edeb;
  }
  .txt_wrap_2 {
    padding-left: 42px;
    width: 89%;
    height: 235px;
    font-size: 16px;
    line-height: 25px;
  }
  .pc_txt_2 {
    display: none;
  }
  .mob_txt_2 {
    display: block;
  }
  .btn_2 {
    width: 135px;
    height: 35px;
    margin-top: 25px;
    line-height: 35px;
  }
  .bottom_img_wrap_2 {
    display: block;
  }
  .left_img {
    width: 92.5%;
  }
  .right_img {
    width: 47.5%;
    margin-top: 50px;
    margin-left: auto;
  }
}
/* section_2 end */

.top_con_3,
.bottom_con_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_con_3 {
  justify-content: flex-start;
}
.bottom_con_3 {
  justify-content: flex-end;
}

.left_img_3,
.right_img_3 {
  width: 50%;
}
.mob_img_3 {
  display: none;
}
.txt_wrap_3 {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt_wrap_3 h3 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Lora", "sans-serif";
  margin-bottom: 30px;
}
.txt_wrap_3 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 35px;
  opacity: 0.6;
}

.btn_3 {
  font-size: 18px;
  width: 180px;
  height: 60px;
  border: 1px solid rgba(32, 22, 18, 0.4);
  text-align: center;
  line-height: 60px;
  transition: 0.5s;
}

.btn_3 a {
  width: 100%;
  display: block;
}

.btn_3:hover {
  background-color: #784b37;
}

.btn_3:hover a {
  color: white;
}
@media screen and (max-width: 767px) {
  .top_con_3,
  .bottom_con_3 {
    display: block;
  }

  .top_con_3 {
    margin-bottom: 60px;
  }
  .left_img_3,
  .right_img_3 {
    width: 100%;
    margin-bottom: 15px;
  }

  .pc_img_3 {
    display: none;
  }
  .mob_img_3 {
    display: block;
  }
  .txt_wrap_3 {
    width: 100%;
    text-align: unset;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  .txt_wrap_3 h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .txt_wrap_3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .btn_3 {
    font-size: 14px;
    width: 130px;
    height: 44px;
    line-height: 44px;
  }
}
/* section_3 end */

.con_wrap_4 {
  display: flex;
  gap: 50px;
}

.right_con_4 {
  width: 48.26388%;
}

.top_con_4 {
  width: 100%;
}
.bottom_con_4 {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.bottom_img_4 {
  width: 34.53237%;
  margin-right: 20px;
}

.txt_wrap_4 h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Lora", "sans-serif";
  margin-bottom: 15px;
}
.txt_wrap_4 p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.btn_4 {
  width: 158px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  border: 1px solid rgba(32, 22, 18, 0.4);
  transition: 0.5s;
}

.btn_4 a {
  width: 100%;
  display: block;
  font-weight: 700;
}

.btn_4:hover {
  background-color: #784b37;
}

.btn_4:hover a {
  color: white;
}
@media screen and (max-width: 767px) {
  .con_wrap_4 {
    display: block;
  }
  .right_con_4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .top_con_4 {
    width: 61.7%;
  }
  .bottom_img_4 {
    display: none;
  }
  .txt_wrap_4 p {
    font-size: 14px;
    margin-bottom: 30px;
    opacity: 0.6;
  }
}
/* section_4 end */

.section_5 {
}

.con_wrap_5 {
  width: 100%;
  border-top: 1px solid rgba(32, 22, 18, 0.2);
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.txt_wrap_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 0;
  margin-right: 26.66666%;
}

.txt_wrap_5 a {
  width: fit-content;
  display: inline-block;
  font-size: 32px;
  position: relative;
  /* opacity: 0.5; */
  transition: 0.3s ease;
  font-weight: 700;
  font-family: "Lora", "Sans-serif";
}

.txt_wrap_5 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 5px;
  background-color: #784b37;
  transition: 0.3s ease;
}

.txt_wrap_5 a:hover {
  opacity: 1;
}

.txt_wrap_5 a:hover::after {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .con_wrap_5 {
    padding-top: 30px;
  }
  .right_img_5 {
    width: 59.833%;
  }
  .txt_wrap_5 {
    padding: 10px 0;
    margin-right: 18%;
  }
  .txt_wrap_5 a {
    font-size: 16px;
    opacity: 1;
  }
}
/* .section_5 end */

footer {
  padding: 75px 240px 50px 240px;
  background-color: #f2edeb;
}
.footer_menu_wrap {
  display: flex;
  justify-content: space-between;
}

.footer_menu_wrap_title {
  font-family: "Lora", "sans-serif";
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
}
.footer_menu a {
  opacity: 0.6;
  margin-bottom: 22px;
}
.footer_menu p {
  letter-spacing: -1px;
  line-height: 25px;
  opacity: 0.6;
}

.footer_btn {
  width: 472px;
  height: 55px;
  background-color: #784b37;
  text-align: center;
  line-height: 55px;
  margin-top: 15px;
}

.footer_btn a {
  width: 100%;
  display: block;
  color: #fff;
  opacity: 1;
}

.footer_logo_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
}

.footer_logo {
  margin-bottom: 30px;
}

.footer_logo_wrap p {
  letter-spacing: -1px;
  margin-bottom: 20px;
  line-height: 25px;
  opacity: 0.6;
}
.footer_logo_wrap p span {
  font-family: "Lora", "sans-serif";
}
.copy {
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 45px 16px;
  }
  .footer_menu_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .footer_menu:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .footer_menu_wrap_title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .footer_menu a {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .footer_btn {
    width: 100%;
    height: 35px;
    line-height: 35px;
  }

  .footer_menu {
    margin-bottom: 30px;
  }
  .footer_menu p {
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 20px;
  }
  .footer_logo {
    width: 130px;
  }
  .footer_logo_wrap {
    margin-top: 30px;
  }
  .footer_logo_wrap p {
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 15px;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
}
